<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PyScript Testing</title>

        <!-- CSS files -->
        <link rel="stylesheet" href="static/index.css">

        <!-- Import PyScript -->
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

        <!-- Import Python modules -->
        <py-env>
            - cowsay
        </py-env>
    </head>
    <body>
        <py-script>
            # Modules 
            import cowsay

            print("Hello, world!")
            print(" ")
            print("This is PyScript i.e. Python on the browser.")
        </py-script>
    </body>
</html>


<!--
    Decimal number system 0-9
    Hexadecimal number system 0-9 A-F 
    Binary number system 0-1

    000000000000000001
    000000000000000010
    111111111111111111

    A = 0 
    B = 1
    C = 2 

    a = 23


    
-->